[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server \
  --disable servicelb \
  --disable traefik \
  --disable local-storage \
  --kube-apiserver-arg oidc-issuer-url={{ lookup('env', 'KUBE_API_ISSUER_URL') | mandatory }} \
  --kube-apiserver-arg oidc-client-id={{ lookup('env', 'KUBE_API_CLIENT_ID') | mandatory }} \
  --kube-apiserver-arg oidc-username-claim={{ lookup('env', 'KUBE_API_USERNAME_CLAIM') | mandatory }} \
  --advertise-address {{ ansible_host }} \
  --tls-san {{ lookup('env', 'KUBE_API_URL') | mandatory }}
