{# Firewall configuration. #}
set firewall all-ping {{ "enable" if config.firewall.all_ping else "disable" }}
set firewall broadcast-ping {{ "enable" if config.firewall.broadcast_ping else "disable" }}
set firewall all-ping {{ "enable" if config.firewall.all_ping else "disable" }}
set firewall all-ping {{ "enable" if config.firewall.all_ping else "disable" }}
set firewall all-ping {{ "enable" if config.firewall.all_ping else "disable" }}
set firewall ipv6-src-route {{ "enable" if config.firewall.src_route.ipv6 else "disable" }}
set firewall ip-src-route {{ "enable" if config.firewall.src_route.ipv4 else "disable" }}
set firewall ipv6-receive-redirects {{ "enable" if config.firewall.receive_redirects.ipv6 else "disable" }}
set firewall receive-redirects {{ "enable" if config.firewall.receive_redirects.ipv4 else "disable" }}
set firewall send-redirects {{ "enable" if config.firewall.send_redirects else "disable" }}
set firewall log-martians {{ "enable" if config.firewall.log_martians else "disable" }}
set firewall source-validation {{ "enable" if config.firewall.source_validation else "disable" }}
set firewall syn-cookies {{ "enable" if config.firewall.syn_cookies else "disable" }}

{# IPv4 rulesets. #}
delete firewall name
{% for ruleset in config.firewall.rulesets.ipv4 %}
set firewall name {{ ruleset.name }}
{# set firewall name {{ ruleset.name }} description {{ ruleset.description|quote }} #}
set firewall name {{ ruleset.name }} default-action {{ ruleset.default_action }}
{% if ruleset.enable_default_log %}
set firewall name {{ ruleset.name }} enable-default-log
{% else %}
delete firewall name {{ ruleset.name }} enable-default-log
{% endif %}
{% for rule in ruleset.rules %}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} action {{ rule.action }}
{# set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} description {{ rule.description|quote }} #}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} state established {{ "enable" if rule.state.established is defined and rule.state.established else "disable" }}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} state related {{ "enable" if rule.state.related is defined and rule.state.related else "disable" }}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} state invalid {{ "enable" if rule.state.invalid is defined and rule.state.invalid else "disable" }}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} state new {{ "enable" if rule.state.new is defined and rule.state.new else "disable" }}
{% if rule.protocol is defined %}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} protocol {{ rule.protocol }}
{% endif %}
{% if rule.destination is defined %}
{% if rule.destination.port is defined %}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} destination port {{ rule.destination.port }}
{% endif %}
{% endif %}
{% if rule.source is defined %}
{% if rule.source.port is defined %}
set firewall name {{ ruleset.name }} rule {{ loop.index*10 }} source port {{ rule.source.port }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{# IPv6 rulesets. #}
delete firewall ipv6-name
{% for ruleset in config.firewall.rulesets.ipv6 %}
set firewall ipv6-name {{ ruleset.name }}
delete firewall ipv6-name {{ ruleset.name }} description
{# set firewall ipv6-name {{ ruleset.name }} description {{ ruleset.description|quote }} #}
set firewall ipv6-name {{ ruleset.name }} default-action {{ ruleset.default_action }}
{% if ruleset.enable_default_log %}
set firewall ipv6-name {{ ruleset.name }} enable-default-log
{% else %}
delete firewall ipv6-name {{ ruleset.name }} enable-default-log
{% endif %}
{% for rule in ruleset.rules %}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} action {{ rule.action }}
{# set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} description {{ rule.description|quote }} #}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} state established {{ "enable" if rule.state.established is defined and rule.state.established else "disable" }}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} state related {{ "enable" if rule.state.related is defined and rule.state.related else "disable" }}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} state invalid {{ "enable" if rule.state.invalid is defined and rule.state.invalid else "disable" }}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} state new {{ "enable" if rule.state.new is defined and rule.state.new else "disable" }}
{% if rule.protocol is defined %}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} protocol {{ rule.protocol }}
{% endif %}
{% if rule.destination is defined %}
{% if rule.destination.port is defined %}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} destination port {{ rule.destination.port }}
{% endif %}
{% endif %}
{% if rule.source is defined %}
{% if rule.source.port is defined %}
set firewall ipv6-name {{ ruleset.name }} rule {{ loop.index*10 }} source port {{ rule.source.port }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
