{# Interfaces. #}
delete interfaces
{% for interface in config.interfaces %}
{% if interface.type == "loopback" %}
set interfaces {{ interface.type }} {{ interface.name }}
{% endif %}
{% if interface.address is defined %}
set interfaces {{ interface.type }} {{ interface.name }} address {{ interface.address }}
{% endif %}
{% if interface.description is defined %}
{# set interfaces {{ interface.type }} {{ interface.name }} description {{ interface.description|quote }} #}
{% endif %}
{% if interface.speed is defined %}
set interfaces {{ interface.type }} {{ interface.name }} speed {{ interface.speed }}
{% endif %}
{% if interface.duplex is defined %}
set interfaces {{ interface.type }} {{ interface.name }} duplex {{ interface.duplex }}
{% endif %}
{% if interface.firewall is defined %}
{% if interface.firewall.in is defined %}
{% if interface.firewall.in.ipv4 is defined %}
set interfaces {{ interface.type }} {{ interface.name }} firewall in name {{ interface.firewall.in.ipv4 }}
{% endif %}
{% if interface.firewall.in.ipv6 is defined %}
set interfaces {{ interface.type }} {{ interface.name }} firewall in ipv6-name {{ interface.firewall.in.ipv6 }}
{% endif %}
{% endif %}
{% if interface.firewall.local is defined %}
{% if interface.firewall.local.ipv4 is defined %}
set interfaces {{ interface.type }} {{ interface.name }} firewall local name {{ interface.firewall.local.ipv4 }}
{% endif %}
{% if interface.firewall.local.ipv6 is defined %}
set interfaces {{ interface.type }} {{ interface.name }} firewall local ipv6-name {{ interface.firewall.local.ipv6 }}
{% endif %}
{% endif %}
{% endif %}
{% if interface.mtu is defined %}
set interfaces {{ interface.type }} {{ interface.name }} mtu {{ interface.mtu }}
{% endif %}
{% if interface.type == "switch" %}
{% for switch_port in interface.switch_ports %}
set interfaces {{ interface.type }} {{ interface.name }} switch-port interface {{ switch_port.interface }}
{% if switch_port.vlan is defined %}
{% if switch_port.vlan.pvid is defined %}
set interfaces {{ interface.type }} {{ interface.name }} switch-port interface {{ switch_port.interface }} vlan pvid {{ switch_port.vlan.pvid }}
{% endif %}
{% if switch_port.vlan.vid is defined %}
set interfaces {{ interface.type }} {{ interface.name }} switch-port interface {{ switch_port.interface }} vlan vid {{ switch_port.vlan.vid }}
{% endif %}
{% endif %}
{% endfor %}
set interfaces {{ interface.type }} {{ interface.name }} switch-port vlan-aware {{ "enable" if config.service.dhcp_server.disabled else "disable" }}
{% for vif in interface.vifs %}
set interfaces {{ interface.type }} {{ interface.name }} vif {{ vif.id }} address {{ vif.address }}
set interfaces {{ interface.type }} {{ interface.name }} vif {{ vif.id }} address {{ vif.description }}
{% endfor %}
{% endif %}
{% endfor %}
