{# Port-forward service. #}
delete port-forward
set port-forward auto-firewall {{ "enable" if config.port_forward.auto_firewall else "disable" }}
set port-forward hairpin-nat {{ "enable" if config.port_forward.hairpin_nat else "disable" }}
set port-forward wan-interface {{ config.port_forward.wan_interface }}
{% for lan_interface in config.port_forward.lan_interfaces %}
set port-forward lan-interface {{ lan_interface }}
{% endfor %}
{% for rule in config.port_forward.rules %}
{# set port-forward rule {{ loop.index }} description {{ rule.description|quote }} #}
set port-forward rule {{ loop.index }} forward-to address {{ rule.to_address }}
set port-forward rule {{ loop.index }} forward-to port {{ rule.to_port }}
set port-forward rule {{ loop.index }} original-port {{ rule.from_port }}
set port-forward rule {{ loop.index }} protocol {{ rule.protocol }}
{% endfor %}
