{# UNMS service. #}
set service unms {{ "enable" if config.service.unms else "disable" }}

{# GUI service. #}
set service gui http-port {{ config.service.gui.http_port }}
set service gui https-port {{ config.service.gui.https_port }}
set service gui older-ciphers {{ "enable" if config.service.gui.older_ciphers else "disable" }}

{# DNS service. #}
delete service dns forwarding
set service dns forwarding cache-size {{ config.service.dns.forwarding.cache_size }}
{% for interface in config.service.dns.forwarding.interfaces %}
set service dns forwarding listen-on {{ interface }}
{% endfor %}
{% for name_server in config.service.dns.forwarding.name_servers %}
set service dns forwarding name-server {{ name_server }}
{% endfor %}

{# NAT service. #}
delete service nat
{% for rule in config.service.nat.rules %}
{# set service nat rule {{ loop.index+4999 }} description {{ rule.description|quote }} #}
set service nat rule {{ loop.index+4999 }} outbound-interface {{ rule.outbound_interface }}
set service nat rule {{ loop.index+4999 }} type {{ rule.type }}
{% endfor %}

{# DHCP service. #}
delete service dhcp-server
set service dhcp-server disabled {{ "true" if config.service.dhcp_server.disabled else "false" }}
set service dhcp-server hostfile-update {{ "enable" if config.service.dhcp_server.hostfile_update else "disable" }}
set service dhcp-server static-arp {{ "enable" if config.service.dhcp_server.static_arp else "disable" }}
set service dhcp-server use-dnsmasq {{ "enable" if config.service.dhcp_server.use_dnsmasq else "disable" }}
{% for shared_network in config.service.dhcp_server.shared_networks %}
set service dhcp-server shared-network-name {{ shared_network.name }} authoritative {{ "enable" if shared_network.authoritative else "disable" }}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} default-router {{ shared_network.gateway }}
{% for dns_server in shared_network.dns_servers %}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} dns-server {{ dns_server }}
{% endfor %}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} lease {{ shared_network.lease }}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} start {{ shared_network.start }} stop {{ shared_network.stop }}
{% if shared_network.static_mappings is defined %}
{% if shared_network.static_mappings|length > 0 %}
{% for static_mapping in shared_network.static_mappings %}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} static-mapping {{ static_mapping.name }} ip-address {{ static_mapping.ip_address }}
set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} static-mapping {{ static_mapping.name }} mac-address {{ static_mapping.mac_address }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

{# SSH service. #}
delete service ssh
{% if config.service.ssh.disable_password_authentication %}}
set service ssh disable-password-authentication
{% endif %}
{% if config.service.ssh.disable_host_validation %}}
set service ssh disable-host-validation
{% endif %}
{% if config.service.ssh.allow_root %}}
set service ssh allow-root
{% endif %}
{% for listen_address in config.service.ssh.listen_addresses %}
set service ssh listen-address {{ listen_address }}
{% endfor %}
set service ssh port {{ config.service.ssh.port }}
set service ssh protocol-version v2
