{# General system configuration. #}
set system host-name {{ config.system.host_name }}
set system time-zone {{ config.system.time_zone }}

{# NTP settings. #}
delete system ntp
{% for server in config.system.ntp.servers %}
set system ntp server {{ server }}
{% endfor %}

{# Syslog settings. #}
{% for facility in config.system.syslog.global.facilities %}
set system syslog global facility {{ facility.name }} level {{ facility.level }}
{% endfor %}

{# Hardware acceleration features. #}
set system offload hwnat {{ "enable" if config.system.offload.hwnat else "disable" }}
set system offload ipsec {{ "enable" if config.system.offload.hwnat else "disable" }}

{# SSH login banner. #}
set system login banner post-login {{ config.system.login.banner.post_login|quote }}
set system login banner pre-login {{ config.system.login.banner.pre_login|quote }}

{# System users. #}
delete system user
{% for user in config.system.login.users %}
set system login user {{ user.name }} full-name {{ user.full_name|quote }}
set system login user {{ user.name }} level {{ user.level }}
set system login user {{ user.name }} authentication encrypted-password {{ user.authentication.encrypted_password|quote }}
{% if user.authentication.public_keys|length > 0 %}
{% for public_key in user.authentication.public_keys %}
set system login user nicklasfrahm authentication public-keys {{ public_key.name }} type {{ public_key.type }}
set system login user nicklasfrahm authentication public-keys {{ public_key.name }} key {{ public_key.key }}
{% endfor %}
{% endif %}
{% endfor %}
